<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatBall Game</title>
    <style>
        body {
            background-color: #f0e7e786;
            margin: 0;
            padding: 0;
            overflow: hidden; 
        }
    </style> 
</head>
<body>
    <!-- Add hidden inputs for game data -->
    <input type="hidden" id="game-server-url" value="{{ server_url }}">
    <input type="hidden" id="game-data" value='{{ game_data|tojson|safe }}'>
    <input type="hidden" id="user-team" value="{{ user_team }}">
    <input type="hidden" id="user-id" value="{{ user_id }}">
    <input type="hidden" id="room-id" value="{{ room_id }}">

    <div id="game-container">
        <canvas id="stadium_canvas"></canvas>
        <canvas id="nets_canvas"></canvas>
        <div id="player_container"></div>
        <canvas id="menu-display"></canvas>
        <canvas id="scoreboard_canvas"></canvas>
    </div>
    <script>
        window.gameData = {
            serverUrl: document.getElementById('game-server-url').value,
            roomId: document.getElementById('room-id').value,
            userId: document.getElementById('user-id').value, 
            team: document.getElementById('user-team').value,
            gameData: JSON.parse(document.getElementById('game-data').value)
        };
    </script>

    <!-- LIBRARY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.87.0/phaser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.20.0/matter.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

    <!-- CONFIGURATION AND UTILITIES -->
    <script src="/static/logicGame/client/class/config.js"></script>
    <script src="/static/logicGame/client/class/helperFunc.js"></script>
    <script src="/static/logicGame/client/class/pingDisplay.js"></script>

    <!-- GAME OBJECTS -->
    <script src="/static/logicGame/client/class/wall.js"></script>
    <script src="/static/logicGame/client/clientBall/clientBall1.5.js"></script>
    <script src="/static/logicGame/client/clientBall/clientBall1.1.js"></script>
    <script src="/static/logicGame/client/clientBall/clientBall1.6.js"></script>
    <script src="/static/logicGame/client/clientPlayer/lerpPlayer.js"></script>
    <script src="/static/logicGame/client/clientPlayer/ClientPlayer1.2.js"></script>
    <script src="/static/logicGame/client/clientPlayer/InterpolatedPlayer.js"></script>

    <!-- INTERPOLATION AND SCENES -->
    <script src="/static/logicGame/client/display/menuDisplay.js"></script>
    <script src="/static/logicGame/client/display/stadium.js"></script>
    <script src="/static/logicGame/client/interpolation/interpolate1.3.js"></script>
    <script type = "module" src="/static/logicGame/client/clientScene.js"></script>
</body>
</html>
