<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard_style.css') }}">
</head>
<body>
    <div class="container">
        <div class="main-content">
            <div class="header">
                <h1>Leaderboard</h1>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Matches</th>
                            <th>Winrate (%)</th>
                            <th>Point</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="back-button">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='back-icon.png') }}" alt="Back">
            </a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='leaderboard_script.js') }}"></script>
</body>
</html>
