<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form id="reset-password-form">
        <input type="password" placeholder="New Password" id="new-password" name="new_password" required>
        <input type="password" placeholder="Confirm Password" id="confirm-password" name="confirm_password" required>
        <button type="submit">Reset Password</button>
    </form>

    <script src="{{ url_for('static', filename='crypto-js.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='reset_password.js') }}"></script>
</body>
</html>
